docs/triage/services/n8n/templates/n8n_workflow_LLM_Research_Trigger.json
{
  "name": "LLM_Research_Trigger",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "llm-research-trigger",
        "responseMode": "onReceived"
      },
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 300],
      "notes": "Receives research query. Input: {query}"
    },
    {
      "parameters": {
        "values": [{"name": "input_query", "value": "{{$json.query}}"}]
      },
      "name": "Set Query",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [400, 300],
      "notes": "Maps input query for LLM."
    },
    {
      "parameters": {
        "model": "llama3",
        "prompt": "Use the @web tool to answer: {{$json.input_query}}",
        "baseUrl": "http://openwebui:8080/v1"
      },
      "name": "OpenAI LLM",
      "type": "n8n-nodes-base.openai",
      "typeVersion": 1,
      "position": [600, 300],
      "notes": "Calls LLM with @web tool for research."
    },
    {
      "parameters": {
        "functionCode": "return [{json: {result: $json.choices ? $json.choices[0].message.content : '', status: 'success', error: null}}];"
      },
      "name": "Format Output",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [800, 300],
      "notes": "Formats LLM response."
    },
    {
      "parameters": {
        "responseMode": "lastNode"
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1000, 300],
      "notes": "Returns the research result."
    }
  ],
  "connections": {
    "Webhook Trigger": {"main": [[{"node": "Set Query", "type": "main", "index": 0}]]},
    "Set Query": {"main": [[{"node": "OpenAI LLM", "type": "main", "index": 0}]]},
    "OpenAI LLM": {"main": [[{"node": "Format Output", "type": "main", "index": 0}]]},
    "Format Output": {"main": [[{"node": "Respond to Webhook", "type": "main", "index": 0}]]}
  },
  "active": false,
  "settings": {},
  "id": "llm-research-trigger-2025"
} 